# BootCamp1 -- Day 2 : Loops in Python

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In this section we will go through general loops but in a Python way. It will be a reminder on situations where each of this loop should be used and according to a specific problem, which one is more suitable. 
This tutorial is mostly illustrative, we will explore some examples and another notebook with exercises (to submit) will be provided.

In [ ]:
a = 4
## print a
print(a)

4

In [ ]:
a = [2, 4]
## print each element in a
print(a[0])
print(a[1])

2
4

In [ ]:
## what if the length of the list is very large ???
d= list(range(1,10))
#for el in d:
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## 1- Definition
`Loops` in programming are used to execute a block of code that needs to be executed many times during the program.

## 2- Loops

### 2-1. "For-Loops"



```
# This is formatted as code
```

A `for-loop` allows you to iterate over a collection of items, and execute a block of code once for each iteration. Its general syntax is: <br><br>

    for <var> in <iterable>:  
        block of code

Example 1: we would like to compute the summation of values between a given interval. This is equivalent to the built-in function `sum()`. Before that, lets see what `range()` does in the next cell.

In [ ]:
print(list(range(10))) # print values from 0 to 10 (start values are inclusive)
print(list(range(4,10))) # print values from 4 to 10 
print(list(range(4,20, 2))) # print values from 4 to 20 in steps of 2
print(list(range(10,0,-1))) # print values from 10 to 0 (reversed)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[4, 6, 8, 10, 12, 14, 16, 18]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
n = 10
total = 0
a=range(n+1)
print(a)

range(0, 11)

In [ ]:
n = 10
total = 0
for i in range(n+1):
    total = total + i # equivalent to:  total += i
print('The sum is: ',total)
print(total == sum(range(n+1)))

The sum is:  55
True

Example 2: we would like to print all the even numbers in a list

In [ ]:
l = [1, 2, 4, 3, 6, 9, 25, 32]
for el in l:
    if el % 2 == 0:
        print(el, ' is an even number.')
    else:
        print(el, ' is an odd number.')

1  is an odd number.
2  is an even number.
4  is an even number.
3  is an odd number.
6  is an even number.
9  is an odd number.
25  is an odd number.
32  is an even number.

In [ ]:
## please write a code that counts the number of odd numbers
l = [1, 2, 4, 3, 6, 9, 25, 32]
##### YOUR CODE HERE #####
count = 0 
for i in l:
  if i % 2 != 0:
    count +=1
print(count)

##### END CODE ########

4

Example 3: We can use `enumerate` to count the number of runs in a loop. This is equivalent to setting an index eg. `i = 0` and incrementing at each step, `i += 1`. In this example, we use `zip` to match items in iterables as well as index them with `enumerate`

In [ ]:
ls = [1, 2, 3, 4, 5, 6]
for i in range(len(ls)):
    print(i, ls[i])

0 1
1 2
2 3
3 4
4 5
5 6

In [ ]:
ls = [1, 2, 3, 4, 5, 6]
for e in ls:
  print(e)

1
2
3
4
5
6

In [ ]:
first_names= ['Kobe', 'Michael', 'Lionel', 'Sadio', 'Lebron']
last_names = ['Bryant', 'Jordan', 'Messi', 'Mane', 'James' ]
for j,k in (zip(first_names, last_names)):
    print("{} {}".format(j, k))

Kobe Bryant
Michael Jordan
Lionel Messi
Sadio Mane
Lebron James

In [ ]:
first_names= ['Kobe', 'Michael', 'Lionel', 'Sadio', 'Lebron']
last_names = ['Bryant', 'Jordan', 'Messi', 'Mane', 'James' ]
for i,(j,k) in enumerate(zip(first_names, last_names)):
    print("{} - {} {}".format(i, j, k))

0 - Kobe Bryant
1 - Michael Jordan
2 - Lionel Messi
3 - Sadio Mane
4 - Lebron James

Example 4: Loops may also be **nested** in which case we have a one or more loops inside another loop.

In [ ]:
for x in range(3):
  for y in range(2):
    print(x, y)

0 0
0 1
1 0
1 1
2 0
2 1

### 2-2. "While-Loop"

A `while-loop` allows you to repeat a block of code under certain condition. We generally use this loop if we don't know the number of times to iterate beforehand. Its general syntax is:<br><br>
`while <condition>:
    block of code`

Example 5: we redo example 1 using a while loop this time.

In [ ]:
n = 10
total = 0
i = 1
while i <= n:
    total += i
    i += 1
print('The sum is: ', total)
print(total == sum(range(n+1)))

The sum is:  55
True

Example 6: we look for the first number > n given a list and n

In [ ]:
l = [10, 4, 45, 10, 34, 56]
i = 0
n = 10
while i < len(l) and l[i]<=n:
    i += 1
print('The first number in the list greater than 10 is: ', l[i], ' after ', i+1,'/',len(l),'iterations.')

The first number in the list greater than 10 is:  45  after  3 / 6 iterations.

In [ ]:
### Modify the code so that it displays a message if there is no such an element
l = [1, 4, 45, 10, 34, 56]
i = 0
n = 100
##### YOUR CODE HERE #####
while i < len(l) and l[i]<=n:
    i += 1

if i< len(l):
  print('The number is: ', l[i])
else:
  print('Not existing !')

##### END CODE ########

Example 5: We can set a stopping condition for the while loop and until the condition is satisfied, the loop does not end. Care must be taken to avoid *infinite loop* where the  block of code runs forever because the condition is never satisfied.

In [ ]:
satisfied = False
n = 5
i = 0
while not satisfied:
  print(i)
  if i >= n:
    satisfied = True
  i +=1

### 2.3. "break, continue, & else" clauses on loops

`break` clause can be used to stop iteration or exiting in a given loop.

Example 6: looking for a number in a list

In [ ]:
# breaking out of a loop early
num = 3
l = [1, 2, 3, 4, 5]
for item in l:
    if item == num:
        print(item, "found. break!")
        break
    print(item, "next iteration")

1 next iteration
2 next iteration
3 found. break!

`else` clause can be used at the end of any loop. It will be executed if the loop was not executed with a `break` clause.

In [ ]:
num = 10
for item in [1, 2, 3, 4, 5]:
    if item == num:
        print(item, "found. break!")
        break
    print(item, "next iteration")
else:
    print('There is no ',num, ' in the list.' )

1 next iteration
2 next iteration
3 next iteration
4 next iteration
5 next iteration
There is no  10  in the list.

`continue` clause can be used if we want to revisit the loop-statement.

In [ ]:
x = 1
num = 2
while x < 4:
    print("x = ", x, ">> enter loop-body <<")
    if x == num:
        print("x = ", x, " found !!! continue...back to the top of the loop!")
        x += 1
        continue
    x += 1
    print("reached end of loop-body--")

x =  1 >> enter loop-body <<
reached end of loop-body--
x =  2 >> enter loop-body <<
x =  2  found !!! continue...back to the top of the loop!
x =  3 >> enter loop-body <<
reached end of loop-body--

### Application 1: Reverse string

<b>Given a string s, print the reverse of s using a for loop. <br>
    <i>Ex: s='ammi' ==> 'imma' </i></b>

In [ ]:
s = "this is the string I have to reverse"
##### WRITE YOUR CODE HERE #####



#### END CODE ####

### Application 2: List Square
<b>Given a list l, take each element to the power of two it. In this case the operation has to be done in-place. Do not allow new memory space.</b>

In [ ]:
l = [1, 2, 3, 4 , 5, 6]
##### WRITE YOUR CODE HERE #####
 

 
#### END CODE ####

[6, 5, 4, 3, 2, 1]